<html>
    <head>        
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body>
        <div id="menu-esquerdo" class="menu-esquerdo">                                                
        </div>

        <div class="centro">                            
            <div class="barra-topo">            
                <img src="img/menu.png" onclick="mainController.menuEsquerdo()">
                <h4>LineMob</h4>            
            </div>    
        </div>       
    </body>
</html>
