<div class="card-panel">
    <form id="form-cadastro">                                          
        <div class="invisible">                       
            <input type="text" class="" id="id" name="id" value="{{id}}">
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="nome" name="nome" value="{{nome}}" placeholder="" data-i18n="[placeholder]cartao-controller.field-nome">
                <label for="nome" class="active" data-i18n="cartao-controller.field-nome"></label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s4">
                <input type="number" id="diaVencimento" name="diaVencimento" value="{{diaVencimento}}" placeholder="" data-i18n="[placeholder]cartao-controller.field-diaVencimento">
                <label for="diaVencimento" class="active" data-i18n="cartao-controller.field-diaVencimento"></label>
            </div>
            <div class="input-field col s4">
                <input type="number" id="diaFechamento" name="diaFechamento" value="{{diaFechamento}}" placeholder="" data-i18n="[placeholder]cartao-controller.field-diaFechamento">
                <label for="diaFechamento" class="active" data-i18n="cartao-controller.field-diaFechamento"></label>
            </div>
            <div class="input-field col s4">
                <input type="number" id="valorLimite" name="valorLimite" value="{{valorLimite}}" placeholder="" data-i18n="[placeholder]cartao-controller.field-valorLimite">
                <label for="valorLimite" class="active" data-i18n="cartao-controller.field-valorLimite"></label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <select id="select-conta" 
                        name="idConta" 
                        onchange="contaController.loadNewModal(this, function () {
                                    cartaoController.loadList();
                                });">
                    <option value="" disabled selected data-i18n="cartao-controller.field-select-conta"></option>
                    <option value="">+</option>
                    {{#conta}}
                    <option value="{{id}}" {{selected}}>{{nome}}</option>
                    {{/conta}}                                        
                </select>
                <label data-i18n="cartao-controller.field-select-conta"></label>
            </div>           

        </div>
    </form>
</div>