<div class="card-panel">
    <form id="form-cadastro">

        <input type="text" class="invisible" id="id" name="id" value="{{id}}">

        <div class="row">
            <label class="label-select" data-i18n="generics.label-multedit"></label>
            <div class="input-field col s12">
                <select id="select-campo" class="browser-default" onchange="cartaoController.selecionaCampoEdicaoMultipla()">
                    <option value="" selected disabled data-i18n="generics.label-multedit"></option>
                    <option value="nome" data-i18n="cartao-controller.field-nome"></option>
                    <option value="diaVencimento" data-i18n="cartao-controller.field-diaVencimento"></option>
                    <option value="diaFechamento" data-i18n="cartao-controller.field-diaFechamento"></option>
                    <option value="valorLimite" data-i18n="cartao-controller.field-valorLimite"></option>
                    <option value="idConta" data-i18n="cartao-controller.field-idConta"></option>
                </select>                
            </div>
        </div>

        <div class="row">
            <div id="input-text" class="input-field col s12">
                <input type="text" id="valor-campo" name="nome">
                <label id="prompt-campo" for="valor-campo" class="active" data-i18n="cartao-controller.field-nome"></label>
            </div>

            <div id="input-select" class="row hide">
                <label class="label-select" data-i18n="cartao-controller.field-select-conta"></label>
                <div class="input-field col s12">                
                    <select id="select-conta" name="idConta" class="browser-default">
                        <option value="" disabled selected data-i18n="cartao-controller.field-select-conta"></option>
                        {{#conta}}
                        <option value="{{id}}">{{nome}}</option>
                        {{/conta}}
                    </select>                
                </div>
            </div>
        </div>
    </form>
</div>