<div class="card-panel">
    <form id="form-cadastro">                                          
        <div class="invisible">                       
            <input type="text" class="" id="id" name="id" value="{{id}}">
        </div>
        
        <div class="invisible">                       
            <input type="text" class="" id="versao" name="versao" value="{{versao}}">
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="nome" name="nome" value="{{nome}}" placeholder="" data-i18n="[placeholder]categoria-controller.field-nome">
                <label for="nome" class="active" data-i18n="categoria-controller.field-nome"></label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="nome-sub-categoria" name="nomeSubCategoria" value="{{nomeSubCategoria}}" placeholder="" data-i18n="[placeholder]categoria-controller.field-nome-sub-categoria">
                <label for="nome-sub-categoria" class="active" data-i18n="categoria-controller.field-nome-sub-categoria"></label>
            </div>
        </div>                    
        <div class="row grey-text">
            <center>{{#idExterno}}_Id:{{/idExterno}} {{idExterno}}</center> 
            <center>{{#versao}}_vs:{{/versao}} {{versao}}</center> 
        </div>
    </form>
</div>