<div class="card-panel">
    <form id="form-cadastro">                                          
        <div class="invisible">                       
            <input type="text" class="" id="id" name="id" value="{{id}}">
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="nome" name="nome" value="{{nome}}" placeholder="" data-i18n="[placeholder]conta-controller.field-nome">
                <label for="nome" class="active" data-i18n="conta-controller.field-nome"></label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">            
                <input type="date" id="data-fundacao" name="dataFundacao" value="{{dataFundacao}}">
                <label for="data-fundacao" class="active" data-i18n="conta-controller.field-dataFundacao"></label>
            </div>        
            
            <div class="input-field col s6">                        
                <input type="tel" id="valor-saldo-inicial" name="valorSaldoInicial" value="{{valorSaldoInicial}}" placeholder="" data-i18n="[placeholder]conta-controller.field-valorSaldoInicial">
                <label for="valor-saldo-inicial" class="active" data-i18n="conta-controller.field-valorSaldoInicial"></label>
            </div>
            
            <script>
                $(document).ready(function(){
                    $("#valor-saldo-inicial").mask("000000000.00", {reverse: true});                    
                });
            </script>
        </div>              
    </form>
</div>