<div class="card-panel">
    <form id="form-cadastro">

        <input type="text" class="invisible" id="id" name="id" value="{{id}}">

        <div class="row">
            <div class="input-field col s12">
                <select id="select-campo" onchange="contaController.selecionaCampoEdicaoMultipla()">
                    <option value="nome" selected data-i18n="conta-controller.field-nome"></option>
                    <option value="dataFundacao" data-i18n="conta-controller.field-dataFundacao"></option>
                    <option value="valorSaldoInicial" data-i18n="conta-controller.field-valorSaldoInicial"></option>
                </select>
                <label data-i18n="generics.label-multedit"></label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="valor-campo" name="nome">
                <label id="prompt-campo" for="valor-campo" class="active" data-i18n="conta-controller.field-nome"></label>
            </div>
        </div>



    </form>
</div>