<html>
    <head>        
        <link href="css/conta.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Cadastro de Conta</h3>
            </div>
            <div class="panel-body">
                <form id="form-cadastro-conta">                    
                    
                    <div class="form-group" style="display: none;">                       
                        <input type="text" class="form-control" id="id-conta" name="id">
                    </div>
                    
                    <div class="form-group">
                        <label for="nome">Nome da Conta</label>
                        <input type="text" class="form-control" id="nome-conta" name="nome">
                    </div>

                    <div class="form-group">
                        <label for="date-inicio">Data Saldo Inicial</label>
                        <input type="date" class="form-control" id="data-conta" name="data">
                    </div>

                    <div class="form-group">
                        <label for="saldo">Saldo</label>
                        <input type="number" class="form-control" id="saldo-conta" name="valor">
                    </div>
                    <div class="panel-footer">
                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-danger" onclick="contaController.insert()">Salvar</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="reset" class="btn btn-danger">Limpar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>