<div class="container row">    
    <form class="form-signin col s12" data-id="formLogin">        

        <div class="row">
            <div class="col s12 center">
                <img id="img-form-signin" src="img/logo.png" />
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input type="email" id="inputUsuario" name="usuario" placeholder="exemplo@dominio.com">
                <label for="inputUsuario" class="active">E-mail</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input type="password" id="inputPassword" name="senha" placeholder="********">                    
                <label for="inputPassword" class="active">Senha</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <input id="checkBoxLembrar" type="checkbox" class="filled-in" checked="checked" />
                <label for="checkBoxLembrar">Lembrar</label>
            </div>
        </div>            

        <div class="row">
            <div class="col s12">
                <button data-id="btnLogin" class="btn waves-effect waves-light" type="button">
                    Entrar
                </button>
            </div>
        </div>
    </form>
</div>
