<div class="card-panel">
    <form id="form-cadastro">                                          
        <div class="invisible">                       
            <input type="text" class="" id="id" name="id" value="{{id}}">
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input type="date" id="data" name="data" value="{{data}}" placeholder="" data-i18n="[placeholder]movimento-controller.field-data">
                <label for="data" class="active" data-i18n="movimento-controller.field-data"></label>
            </div>
            <div class="input-field col s6">
                <input type="number" id="valor" name="valor" value="{{valor}}" placeholder="" data-i18n="[placeholder]movimento-controller.field-valor">
                <label for="valor" class="active" data-i18n="movimento-controller.field-valor"></label>
            </div>            
        </div>        

        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="descricao" name="descricao" value="{{descricao}}" placeholder="" data-i18n="[placeholder]movimento-controller.field-descricao">
                <label for="descricao" class="active" data-i18n="movimento-controller.field-descricao"></label>
            </div>
        </div>

        <div class="row">
            <label class="label-select" data-i18n="movimento-controller.field-select-natureza"></label>
            <div class="input-field col s12">                
                <select id="naturesa" name="natureza" class="browser-default">                    
                    <option value="D" selected data-i18n="movimento-controller.field-select-natureza-option-d"></option>                
                    <option value="C" data-i18n="movimento-controller.field-select-natureza-option-c"></option>                
                </select>                
            </div>
        </div>

        <div class="row">
            <label class="label-select" data-i18n="conta-controller.field-select-conta" for="select-conta"></label>
            <div class="input-field col s12">                
                <select id="select-conta" 
                        class="browser-default"
                        name="idConta" 
                        onchange="contaController.loadNewModal(this, function () {
                                    movimentoController.loadList();
                                });">
                    <option value="" disabled selected data-i18n="conta-controller.field-select-conta"></option>
                    <option value="">+</option>                    
                    {{#conta}}
                    <option value="{{id}}" {{selected}}>{{nome}}</option>
                    {{/conta}}                                                            
                </select>                
            </div>           
        </div>

        <div class="row">
            <label class="label-select" data-i18n="categoria-controller.field-select-categoria" for="select-categoria"></label>
            <div class="input-field col s12">                
                <select id="select-categoria" 
                        class="browser-default"
                        name="idCategoria" 
                        onchange="categoriaController.loadNewModal(this, function () {
                                    movimentoController.loadList();
                                });">
                    <option value="" disabled selected data-i18n="categoria-controller.field-select-categoria"></option>
                    <option value="">+</option>                    
                    {{#categoria}}
                    <option value="{{id}}" {{selected}}>{{nome}}</option>
                    {{/categoria}}                                                            
                </select>                
            </div>           
        </div>
        
        <div class="row">
            <label class="label-select" data-i18n="pessoa-controller.field-select-pessoa" for="select-pessoa"></label>
            <div class="input-field col s12">                
                <select id="select-pessoa" 
                        class="browser-default"
                        name="idPessoa" 
                        onchange="pessoaController.loadNewModal(this, function () {
                                    movimentoController.loadList();
                                });">
                    <option value="" disabled selected data-i18n="pessoa-controller.field-select-pessoa"></option>
                    <option value="">+</option>                    
                    {{#pessoa}}
                    <option value="{{id}}" {{selected}}>{{apelido}}</option>
                    {{/pessoa}}                                                            
                </select>                
            </div>           
        </div>
        
        <div class="row">
            <label class="label-select" data-i18n="cartao-controller.field-select-cartao" for="select-cartao"></label>
            <div class="input-field col s12">                
                <select id="select-cartao" 
                        class="browser-default"
                        name="idCartao" 
                        onchange="cartaoController.loadNewModal(this, function () {
                                    movimentoController.loadList();
                                });">
                    <option value="" disabled selected data-i18n="cartao-controller.field-select-cartao"></option>
                    <option value="">+</option>                    
                    {{#cartao}}
                    <option value="{{id}}" {{selected}}>{{nome}}</option>
                    {{/cartao}}                                                            
                </select>                
            </div>           
        </div>
    </form>
</div>