<div class="card-panel">
    <form id="form-cadastro">

        <input type="text" class="invisible" id="id" name="id" value="{{id}}">

        <div class="row">
            <label class="label-select" data-i18n="generics.label-multedit"></label>
            <div class="input-field col s12">
                <select id="select-campo" class="browser-default" onchange="movimentoController.selecionaCampoEdicaoMultipla()">
                    <option value="" selected disabled data-i18n="generics.label-multedit"></option>
                    <option value="data" data-i18n="movimento-controller.field-data"></option>
                    <option value="valor" data-i18n="movimento-controller.field-valor"></option>
                    <option value="descricao" data-i18n="movimento-controller.field-descricao"></option>
                    <option value="natureza" data-i18n="movimento-controller.field-select-natureza"></option>                    
                    <option value="idConta" data-i18n="movimento-controller.field-idConta"></option>
                    <option value="idCategoria" data-i18n="movimento-controller.field-idCategoria"></option>
                    <option value="idPessoa" data-i18n="movimento-controller.field-idPessoa"></option>
                    <option value="idCartao" data-i18n="movimento-controller.field-idCartao"></option>
                </select>                
            </div>
        </div>

        <div class="row">
            <div id="input-text" class="input-field col s12">
                <input type="date" id="valor-campo" name="data">
                <label id="prompt-campo" for="valor-campo" class="active" data-i18n="movimento-controller.field-data"></label>
            </div>

            <div id="input-select" class="row hide">
                <label class="label-select" data-i18n="conta-controller.field-select-conta"></label>
                <div class="input-field col s12">                
                    <select id="select-conta" name="idConta" class="browser-default">
                        <option value="" disabled selected data-i18n="conta-controller.field-select-conta"></option>
                        {{#conta}}
                        <option value="{{id}}">{{nome}}</option>
                        {{/conta}}                        

                        <div id="idCategoriaOptions">
                            {{#categoria}}
                            <option value="{{id}}">{{nome}}</option>
                            {{/categoria}}
                        </div>

                        <div id="idPessoaOptions">
                            {{#pessoa}}
                            <option value="{{id}}">{{apelido}}</option>
                            {{/pessoa}}
                        </div>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>