<ul class="collection" id="ul-list">
    <li class="collection-item" onclick="Controller.checkInList()">
        <div class="li-lista-header row">
            <div class="col s1">
                <input id="check-all" type="checkbox" class="filled-in"/>
                <label for="check-all"></label>
            </div>            
            <div class="col s7 titulo-lista" data-i18n="pessoa-controller.field-nome"></div>
            <div class="col s4 titulo-lista" data-i18n="pessoa-controller.field-apelido"></div>                
        </div>
    </li>
    {{#pessoa}}
    <li class="collection-item" onclick="Controller.checkInList({{id}})">
        <div class="li-lista row">
            <div class="col s1">
                <input id="check-{{id}}" type="checkbox" class="filled-in"/>
                <label for="check-{{id}}"></label>
            </div>                        
            <div name="id" class="invisible">{{id}}</div>
            <div name="selecionado" id="selecionado-{{id}}" class="invisible">0</div>            
            <div class="col s7">{{nome}}</div>            
            <div class="col s4">{{apelido}}</div>
        </div>
    </li>
    {{/pessoa}}
    <div id="nav-pre-footer">
        <nav class="collection-item waves-effect waves-block waves-red">    
            <div id="footer" class="row invisible">
                <div id="text-footer" class="col s12 center">
                    Carregar mais...
                </div>
            </div>
        </nav>
    </div>
</ul>

