<div class="card-panel">
    <form id="form-cadastro">
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="nome" name="nome" value="{{nome}}" placeholder="" data-i18n="[placeholder]login-controller.field-nome">
                <label for="nome" class="active" data-i18n="login-controller.field-nome"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="email" id="email" name="email" value="{{email}}" placeholder="" data-i18n="[placeholder]login-controller.placeholder-email">
                <label for="email" class="active" data-i18n="login-controller.field-email"></label>
            </div>
        </div>
    </form>
</div>