<div class="card-panel">
    <form id="form-cadastro">
        <div class="row">
            <div class="input-field col s12">
                <input type="password" id="senha-atual" name="senhaAtual" placeholder="" data-i18n="[placeholder]config-controller.field-senha-atual">
                <label for="senha-atual" class="active" data-i18n="config-controller.field-senha-atual"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="password" id="senha-nova" name="senhaNova" placeholder="" data-i18n="[placeholder]config-controller.field-senha-nova">
                <label for="senha-nova" class="active" data-i18n="config-controller.field-senha-nova"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="password" id="senha-nova-repete" name="senhaNovaRepete" placeholder="" data-i18n="[placeholder]config-controller.field-senha-nova-repete">
                <label for="senha-nova-repete" class="active" data-i18n="config-controller.field-senha-nova-repete"></label>
            </div>
        </div>
    </form>
</div>