<div class="card-panel">
    <form id="form-cadastro">                                          
        <div class="invisible">                       
            <input type="text" class="" id="id" name="id" value="{{id}}">
        </div>

        <div class="invisible">                       
            <input type="text" class="" id="versao" name="versao" value="{{versao}}">
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input type="date" id="dataLancamento" name="dataLancamento" value="{{dataLancamento}}" placeholder="" data-i18n="[placeholder]movimento-controller.field-dataLancamento">
                <label for="dataLancamento" class="active" data-i18n="movimento-controller.field-dataLancamento"></label>
            </div>
            <div class="input-field col s6">
                <input type="date" id="dataVencimento" name="dataVencimento" value="{{dataVencimento}}" placeholder="" data-i18n="[placeholder]movimento-controller.field-dataVencimento">
                <label for="dataVencimento" class="active" data-i18n="movimento-controller.field-dataVencimento"></label>
            </div>                        
        </div>        

        <div class="row">
            <div class="input-field col s6">
                <input type="tel" id="valor" name="valor" value="{{valor}}" placeholder="" data-i18n="[placeholder]movimento-controller.field-valor">
                <label for="valor" class="active" data-i18n="movimento-controller.field-valor"></label>
            </div>
            <div class="input-field col s6">
                <input type="text" id="descricao" name="descricao" value="{{descricao}}" placeholder="" data-i18n="[placeholder]movimento-controller.field-descricao">
                <label for="descricao" class="active" data-i18n="movimento-controller.field-descricao"></label>
            </div>
        </div>

        <div class="row">
            <label class="label-select" data-i18n="movimento-controller.field-select-natureza"></label>
            <div class="input-field col s12">                
                <select id="natureza" name="natureza" class="browser-default">                    
                    <option value="D" {{#naturezaD}}selected{{/naturezaD}} data-i18n="movimento-controller.field-select-natureza-option-d"></option>                
                    <option value="C" {{#naturezaC}}selected{{/naturezaC}} data-i18n="movimento-controller.field-select-natureza-option-c"></option>                
                </select>                
            </div>
        </div>

        <div class="row">
            <label class="label-select" data-i18n="conta-controller.field-select-conta" for="select-conta"></label>
            <div class="input-field col s12">                
                <select id="select-conta" 
                        class="browser-default"
                        name="idConta" 
                        onchange="contaController.loadNewModal(this, function () {
                                    movimentoController.loadList();
                                });">
                    <option value="" disabled selected data-i18n="conta-controller.field-select-conta"></option>
                    <option value="+">+</option>                    
                    {{#conta}}
                    <option value="{{id}}" {{selected}}>{{nome}}</option>
                    {{/conta}}                                                            
                </select>                
            </div>           
        </div>

        <div class="row">
            <label class="label-select" data-i18n="categoria-controller.field-select-categoria" for="select-categoria"></label>
            <div class="input-field col s12">                
                <select id="select-categoria" 
                        class="browser-default"
                        name="idCategoria" 
                        onchange="categoriaController.loadNewModal(this, function () {
                                    movimentoController.loadList();
                                });">
                    <option value="" disabled selected data-i18n="categoria-controller.field-select-categoria"></option>
                    <option value="+">+</option>                    
                    {{#categoria}}
                    <option value="{{id}}" {{selected}}>{{nome}}{{#nomeSubCategoria}}/{{/nomeSubCategoria}}{{nomeSubCategoria}}</option>
                    {{/categoria}}                                                            
                </select>                
            </div>           
        </div>

        <div class="row">
            <label class="label-select" data-i18n="pessoa-controller.field-select-pessoa" for="select-pessoa"></label>
            <div class="input-field col s12">                
                <select id="select-pessoa" 
                        class="browser-default"
                        name="idPessoa" 
                        onchange="pessoaController.loadNewModal(this, function () {
                                    movimentoController.loadList();
                                });">
                    <option value="" disabled selected data-i18n="pessoa-controller.field-select-pessoa"></option>
                    <option value="+">+</option>                    
                    {{#pessoa}}
                    <option value="{{id}}" {{selected}}>{{apelido}}</option>
                    {{/pessoa}}                                                            
                </select>                
            </div>           
        </div>

        <div class="row">
            <label class="label-select" data-i18n="cartao-controller.field-select-cartao" for="select-cartao"></label>
            <div class="input-field col s12">                
                <select id="select-cartao" 
                        class="browser-default"
                        name="idCartao" 
                        onchange="cartaoController.loadNewModal(this, function () {
                                    movimentoController.loadList();
                                });">
                    <option value="+">+</option>                    
                    <option value=" " selected data-i18n="cartao-controller.field-option-cartao-nulo"></option>                    
                    {{#cartao}}
                    <option value="{{id}}" {{selected}}>{{nome}}</option>
                    {{/cartao}}                                                            
                </select>                
            </div>           
        </div>
        
        {{^id}}
        <div class="card-panel red darken-2">
            <div class="row">
                <label class="label-repeat white-text" data-i18n="movimento-controller.field-select-repeat"></label>
                <div class="input-field col s12">                
                    <select id="repeat" name="repeat" class="browser-default">                    
                        <option value="0" selected data-i18n="movimento-controller.select-repeat-option-not"></option>                                    
                        <option value="1" data-i18n="movimento-controller.select-repeat-option-daily"></option>
                        <option value="7" data-i18n="movimento-controller.select-repeat-option-weekly"></option>
                        <option value="30" data-i18n="movimento-controller.select-repeat-option-monthly"></option>
                        <option value="180" data-i18n="movimento-controller.select-repeat-option-semiannully"></option>
                        <option value="365" data-i18n="movimento-controller.select-repeat-option-annully"></option>                   
                    </select>                
                </div>
            </div>
            <div class="row">
                <label class="label-count-repeat white-text" data-i18n="movimento-controller.field-select-count-repeat"></label>
                <div class="input-field col s12">                
                    <select id="countRepeat" name="countRepeat" class="browser-default">                    
                        <option value="0" selected>0</option>
                        <option value="2">2</option>
                        <option value="3">3</option><option value="4">4</option><option value="5">5</option>
                        <option value="6">6</option><option value="7">7</option><option value="8">8</option>
                        <option value="9">9</option><option value="10">10</option><option value="11">11</option>
                        <option value="12">12</option><option value="13">13</option><option value="14">14</option>
                        <option value="15">15</option><option value="16">16</option><option value="17">17</option>
                        <option value="18">18</option><option value="19">19</option><option value="20">20</option>
                        <option value="21">21</option><option value="22">22</option><option value="23">23</option>
                        <option value="24">24</option><option value="25">25</option><option value="26">26</option>
                        <option value="27">27</option><option value="28">28</option><option value="29">29</option>
                        <option value="30">30</option><option value="31">31</option><option value="32">32</option>
                        <option value="33">33</option><option value="34">34</option><option value="35">35</option>
                        <option value="36">36</option><option value="37">37</option><option value="38">38</option>
                        <option value="39">39</option><option value="40">40</option><option value="41">41</option>
                        <option value="42">42</option><option value="43">43</option><option value="44">44</option>
                        <option value="45">45</option><option value="46">46</option><option value="47">47</option>
                        <option value="48">48</option><option value="49">49</option><option value="50">50</option>
                        <option value="51">51</option><option value="52">52</option>
                    </select>                
                </div>
            </div>           
        </div>
        {{/id}}

        <script>
            $(document).ready(function () {
                $("#valor").mask("000000000.00", {reverse: true});
            });
        </script>
        <div class="row grey-text">
            <center>{{#idExterno}}_Id:{{/idExterno}} {{idExterno}}</center> 
            <center>{{#versao}}_vs:{{/versao}} {{versao}}</center> 
        </div>
    </form>
</div>