<div class="container row">    
    <form id="form-cadastro" class="form-signin col s12" data-id="formLogin">        

        <div class="row">
            <div class="col s12 center">
                <img id="img-form-signin" src="img/logo.png" />
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="inputNome" name="nome" placeholder="" data-i18n="[placeholder]login-controller.placeholder-nome">
                <label for="inputNome" class="active" data-i18n="login-controller.field-nome"></label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s12">
                <input type="email" id="inputUsuario" name="usuario" placeholder="" data-i18n="[placeholder]login-controller.placeholder-email">
                <label for="inputUsuario" class="active" data-i18n="login-controller.field-email"></label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s10">
                <input class="password" type="password" id="inputPassword" name="senha" placeholder="********">                    
                <label for="inputPassword" class="active" data-i18n="login-controller.field-senha"></label>
            </div>
            <div class="input-field col s2">                
                <i id="icon-eye" class="material-icons grey-text eyeOn" onclick="loginController.showOrHidePasswd(this)">
                    <script>$("#icon-eye").html(iconUtil.eyeOn);</script>
                </i>
            </div>
        </div>                   

        <div class="row">
            <div class="col s12">
                <button data-id="btnLogin" 
                        class="red darken-1 btn waves-effect waves-light" 
                        type="button"
                        onclick="signupController.insert();"
                        data-i18n="login-controller.btn-signup">                    
                </button>
            </div>
        </div>
    </form>
</div>
