<ul class="collection" id="ul-list">
    <li id="ul-header" class="collection-item">
        <div class="li-lista-header row">                        
            <div class="col s3 titulo-lista left-align" data-i18n="chart-controller.single"></div>
            <div class="col s9 titulo-lista left-align" data-i18n="chart-controller.description"></div>            
        </div>
    </li> 
    <li class="collection-item" onclick="chartController.loadFilterPieCategory();">
        <div class="li-lista row smaller">                        
            <div class="col s3 left-align" data-i18n="chart-controller.pie-category"></div>
            <div class="col s9 left-align" data-i18n="chart-controller.pie-category-description"></div>                      
        </div>
    </li>
    <li class="collection-item" onclick="chartController.loadFilterLineExpenses();">
        <div class="li-lista row smaller">                        
            <div class="col s3 left-align" data-i18n="chart-controller.line-expenses"></div>
            <div class="col s9 left-align" data-i18n="chart-controller.line-expenses-description"></div>                      
        </div>
    </li>  
</ul>    