* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -ms-touch-action: none;
}

body,ul,li {
    padding: 0;
    margin: 0;
    border: 0;
}

body {                
    overflow: hidden; /* this is important to prevent the whole page to bounce */
}

#header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 45px;
    background: red;
    padding: 0;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    display: none;
}

#wrapper {
    position: absolute;
    z-index: 1;
    top: 50px;
    bottom: 0px;
    left: 0;
    width: 100%;
    background: #ccc;
    overflow: hidden;    
}

#scroller {
    background-color: whitesmoke;
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    min-height: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    display: block;
}

.barra-topo{
    width: 100%;    
    background-color: red;   
    height: 50px;
    display: -webkit-box;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: cornsilk;
}
.barra-topo h4 {    
    font-weight: bold;
    color: white;    
    margin-top: 16.5px;
    margin-left: 15px;
}
.barra-topo img{
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-left: 10px;
}

.barra-topo #icone-voltar{
    display:none; /*-webkit-box;*/
}

.barra-topo #icone-menu{
    display: inline;
}


.menu-esquerdo{
    width: 220px;
    height: 100%;
    background-color: darkgray;
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: gainsboro;
    position: absolute;
    z-index: 3;
    top: 0;
    left: -220px;
}

.menu-esquerdo #div-img-menu-esquerdo{
    text-align: -webkit-center;
    margin-top: 15px;
    margin-bottom: 15px;    
}

.menu-esquerdo #img-menu-esquerdo{
    width: 150px;
    background-color: whitesmoke;
}

.menu-esquerdo #links{
    height: 100%;
    width: 100%;
    background-color: lightgray;
}

.menu-esquerdo #ul-links{
    width: 100%;
    height: 100%;
    position: initial;
    display: block;
}
